{% extends "base.html.twig" %}

{% block title %}
CookAssist - Accueil
{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur CookAssist</h1>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Commencer à utiliser</a>
    </p>
    </div>
</div>

{% endblock %}
